$mainColor: rgb(17, 17, 120);
$secondaryColor: rgb(182, 182, 230);
$keyColor: rgb(18, 16, 16);
$white: rgb(245, 241, 241);
$colorAlter: blue;

//Fonts
$mainFont: 'Roboto', sans-serif;

//weight
$textRegular: 400;
$textLight: 300;
$textBold: 600;

//sizes
$textSm: 0.8;
$textMd: 1.2em;
$textLg: 2em;
$textXl: 3em;